
.custom{
    background-color: gainsboro;
    size: 20px;
    font-size: 30px;
}
.custom_litle{
    font-size: 1rem;
}
.status{
    border: 1px solid;
}
.status span{
    font-size: 1.2rem;
    font-weight: bold;
}
.img{
    padding: 1%;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
.media-body{
    padding-left: 3%;
}
.yours{
    background: #D9FFAD; /* Цвет фона под заголовком */
    color: green; /* Цвет текста */
    padding: 2px
}
.opponents{
    background: #D9FFAD; /* Цвет фона под заголовком */
    color: red; /* Цвет текста */
    padding: 2px
}
.link{
    padding-right: 5%;
}
.ccc1{
    width: 100%;
    top: 0;
}
.table-responsive{

    padding-top: 100px;

}
.trigger_delete{
    margin-top: 5%;
}
.input{
    color: red;
    background: aliceblue !important;
}
.background{
    background: aliceblue !important;
}
.green{
    background-color: green !important;
    color: black;
}
.orange{
    background-color: orange !important;
    color: black;
}
.form-group{
    margin: 0 !important;
    line-height: 1;
}
label{
    margin: 0 !important;
}